@import url("https://fonts.googleapis.com/css?family=Quicksand:700|Ubuntu:400&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  line-height: 1.75 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body h1 {
  font-size: 36px;
  font-weight: bold;
  color: #0C2D4E;
  margin: 0 0 15px 0;
}

@media (max-width: 767px) {
  body h1 {
    font-size: 28px;
  }
}

body h3 {
  font-size: 16px;
  font-weight: bold;
  color: #0C2D4E;
  margin: 0;
}

@media (max-width: 767px) {
  body h3 {
    font-size: 14px;
  }
}

body h5 {
  font-size: 12px;
  font-weight: bold;
  color: #0C2D4E;
  margin: 0;
}

@media (max-width: 767px) {
  body h5 {
    font-size: 11px;
  }
}

body p,
body a {
  font-size: 12px;
  color: #949494;
  margin: 0;
}

@media (max-width: 767px) {
  body p,
  body a {
    font-size: 11px;
  }
}

body a {
  text-decoration: none !important;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

body a:hover {
  color: #0C2D4E;
}

#nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

#nav .nav .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#nav .nav .logo img {
  width: 45px;
}

#nav .nav .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

#nav .nav .links ul li {
  list-style: none;
  padding-left: 25px;
}

@media (max-width: 767px) {
  #nav .nav .links {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 200ms, visibility 250ms;
    transition: opacity 200ms, visibility 250ms;
  }
  #nav .nav .links.show {
    visibility: visible;
    opacity: 1;
  }
  #nav .nav .links.show ul li {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation: scale 250ms ease-in-out forwards;
            animation: scale 250ms ease-in-out forwards;
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
  }
  #nav .nav .links.show ul li:nth-of-type(2) {
    -webkit-animation-delay: 280ms;
            animation-delay: 280ms;
  }
  #nav .nav .links.show ul li:nth-of-type(3) {
    -webkit-animation-delay: 310ms;
            animation-delay: 310ms;
  }
  #nav .nav .links.show ul li:nth-of-type(4) {
    -webkit-animation-delay: 340ms;
            animation-delay: 340ms;
  }
  @-webkit-keyframes scale {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  #nav .nav .links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #nav .nav .links ul li {
    padding: 0;
    margin: 15px 0;
  }
  #nav .nav .links ul li a {
    font-size: 12px;
  }
  #nav .nav .links ul li:last-child a {
    color: #FF355B;
  }
  #nav .nav .links ul li:last-child a:hover {
    color: #FF355B;
  }
}

#nav .nav .toggle {
  cursor: pointer;
  width: 15px;
  height: 15px;
  text-align: right;
  display: none;
  position: relative;
  z-index: 20;
}

@media (max-width: 767px) {
  #nav .nav .toggle {
    display: block;
  }
}

#nav .nav .toggle i {
  height: 2px;
  width: 15px;
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  border-radius: 100px;
  background-color: #0C2D4E;
  -webkit-transition: 0.3s cubic-bezier(0.73, 0, 0.23, 1);
  transition: 0.3s cubic-bezier(0.73, 0, 0.23, 1);
}

#nav .nav .toggle i:last-child {
  width: 10px;
  top: 11px;
}

#nav .nav .toggle:hover i {
  width: 10px;
}

#nav .nav .toggle:hover i:last-child {
  width: 15px;
}

#nav .nav .toggle.active i {
  width: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
}

#nav .nav .toggle.active i:last-child {
  width: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 7px;
}

#hero {
  margin-top: 145px;
}

@media (max-width: 767px) {
  #hero {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  #hero .hero .content-sec {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  #hero .hero .content {
    margin-top: 20px;
  }
}

#hero .hero .content .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media (max-width: 767px) {
  #hero .hero .content .action {
    margin-top: 20px;
  }
}

#hero .hero .content .action a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-radius: 8px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 767px) {
  #hero .hero .content .action a {
    padding: 10px 10px;
  }
}

#hero .hero .content .action a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 767px) {
  #hero .hero .content .action a:hover {
    -webkit-transform: none;
            transform: none;
  }
}

#hero .hero .content .action a.primary {
  background-color: #0C2D4E;
  border: 2px solid #0C2D4E;
  color: #FFFFFF;
}

#hero .hero .content .action a.outline {
  margin-left: 15px;
  background-color: #FF355B;
  border: 2px solid #FF355B;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  #hero .hero .content .action a.outline {
    margin-left: 10px;
  }
}

#hero .hero .content .action a img {
  width: 19px;
  margin-right: 7px;
}

#hero .hero .code, #hero .hero .docs .resources, .docs #hero .hero .resources {
  min-height: 25vh;
  background-image: url("./../img/topPattern.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  #hero .hero .code, #hero .hero .docs .resources, .docs #hero .hero .resources {
    min-height: 40vh;
  }
}

#hero .hero .code .editor, #hero .hero .docs .resources .editor, .docs #hero .hero .resources .editor {
  background-color: #FFFFFF;
  padding: 15px 25px 20px 15px;
  border-radius: 12px;
  margin-left: 10px;
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
  #hero .hero .code .editor, #hero .hero .docs .resources .editor, .docs #hero .hero .resources .editor {
    width: 100%;
    margin: 0;
  }
}

#hero .hero .code .editor .controls, #hero .hero .docs .resources .editor .controls, .docs #hero .hero .resources .editor .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#hero .hero .code .editor .controls i, #hero .hero .docs .resources .editor .controls i, .docs #hero .hero .resources .editor .controls i {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  margin-left: 8px;
}

#hero .hero .code .editor .controls i:nth-child(1), #hero .hero .docs .resources .editor .controls i:nth-child(1), .docs #hero .hero .resources .editor .controls i:nth-child(1) {
  background-color: #FE5F56;
  margin-left: 0;
}

#hero .hero .code .editor .controls i:nth-child(2), #hero .hero .docs .resources .editor .controls i:nth-child(2), .docs #hero .hero .resources .editor .controls i:nth-child(2) {
  background-color: #FFBD2D;
}

#hero .hero .code .editor .controls i:nth-child(3), #hero .hero .docs .resources .editor .controls i:nth-child(3), .docs #hero .hero .resources .editor .controls i:nth-child(3) {
  background-color: #25C93F;
}

#hero .hero .code .editor pre, #hero .hero .docs .resources .editor pre, .docs #hero .hero .resources .editor pre {
  color: #0C2D4E;
  margin: 0;
}

#hero .hero .code .editor pre code, #hero .hero .docs .resources .editor pre code, .docs #hero .hero .resources .editor pre code {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  letter-spacing: 1.5px;
}

@media (max-width: 767px) {
  #hero .hero .code .editor pre code, #hero .hero .docs .resources .editor pre code, .docs #hero .hero .resources .editor pre code {
    font-size: 11px;
  }
}

#hero .hero .code .editor pre span, #hero .hero .docs .resources .editor pre span, .docs #hero .hero .resources .editor pre span {
  color: #2DAEFF;
}

#hero .hero .code .editor pre span.first, #hero .hero .docs .resources .editor pre span.first, .docs #hero .hero .resources .editor pre span.first {
  color: #FF355B;
}

#hero .hero .code .editor pre span.comment, #hero .hero .docs .resources .editor pre span.comment, .docs #hero .hero .resources .editor pre span.comment {
  color: #949494;
}

#intro {
  margin-top: 145px;
}

@media (max-width: 767px) {
  #intro {
    margin-top: 80px;
  }
}

#intro .intro {
  text-align: center;
}

#intro .intro .title {
  max-width: 60%;
  margin: 0 auto 50px;
}

@media (max-width: 767px) {
  #intro .intro .title {
    max-width: 100%;
    margin: 0 0 30px 0;
  }
}

#intro .intro .title h3 {
  margin-bottom: 10px;
}

#intro .intro .card {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #intro .intro .card {
    margin: 20px 0 40px 0;
  }
}

#intro .intro .card img {
  width: 65px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  #intro .intro .card img {
    width: 50px;
  }
}

#intro .intro .card h5 {
  margin-bottom: 7px;
}

#intro .intro .card p {
  font-size: 11px;
}

@media (max-width: 767px) {
  #intro .intro .card p {
    font-size: 10px;
  }
}

.docs {
  margin-top: 145px;
  margin-bottom: 100px;
}

.docs:last-child {
  margin-bottom: 0 !important;
}

@media (max-width: 767px) {
  .docs {
    margin-top: 80px;
    margin-bottom: 0;
  }
}

.docs .resources .title {
  margin-bottom: 30px;
}

.docs .resources .title h3 {
  margin-bottom: 10px;
}

.docs .resources .title p a {
  color: #0C2D4E;
}

.docs .resources .title p code {
  font-size: 11px;
  font-family: ubuntu;
  letter-spacing: 1px;
  background: #F3F3F3;
  padding: 4px 6px;
  border-radius: 4px;
  color: #0C2D4E;
  margin: 0 1px;
}

.docs .resources .code .editor, .docs .resources .resources .editor {
  background-color: #FAFAFA;
  padding: 20px 25px;
  border-radius: 12px;
}

.docs .resources .code .editor pre, .docs .resources .resources .editor pre {
  color: #0C2D4E;
  margin: 0;
}

.docs .resources .code .editor pre code, .docs .resources .resources .editor pre code {
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .docs .resources .code .editor pre code, .docs .resources .resources .editor pre code {
    font-size: 11px;
  }
}

.docs .resources .code .editor pre span, .docs .resources .resources .editor pre span {
  color: #2DAEFF;
}

.docs .resources .code .editor pre span.first, .docs .resources .resources .editor pre span.first {
  color: #FF355B;
}

.docs .resources .code .editor pre span.comment, .docs .resources .resources .editor pre span.comment {
  color: #949494;
}

.docs .resources .sources {
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .docs .resources .sources {
    padding: 0 15px;
  }
}

.docs .resources .sources li {
  list-style: none;
  border-bottom: 1px dashed rgba(148, 148, 148, 0.4);
}

.docs .resources .sources li .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.docs .resources .sources li .item img {
  width: 25px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 10px;
}

.docs .resources .sources li .item .content p {
  color: #0C2D4E;
  margin-bottom: 3px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.docs .resources .sources li .item .content span {
  font-size: 11px;
  color: #949494;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.docs .resources .sources li .item:hover .content p {
  color: #FF355B;
}

.docs .resources .sources li .item:hover .content span {
  color: #0C2D4E;
}

.docs .resources .sources li:last-child {
  border-bottom: none;
}

.docs .resources .bg {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("./../img/bottomPattern.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media (max-width: 767px) {
  .docs .resources .bg {
    display: none;
  }
}

.docs .resources .bg .circle {
  width: 70px;
  height: 70px;
  position: absolute;
  background: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 60px rgba(0, 0, 0, 0.03);
  -webkit-animation: bounce 3s ease-in-out infinite;
          animation: bounce 3s ease-in-out infinite;
}

.docs .resources .bg .circle img {
  width: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.docs .resources .bg .circle span {
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.docs .resources .bg .circle.one {
  top: 20%;
  left: 20%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.docs .resources .bg .circle.one span {
  color: #00E9A2;
}

.docs .resources .bg .circle.two {
  top: 55%;
  left: 24%;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.docs .resources .bg .circle.two span {
  color: #0C2D4E;
}

.docs .resources .bg .circle.three {
  top: 40%;
  left: 55%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.docs .resources .bg .circle.three span {
  color: #00E5FF;
}

.docs .resources .bg .circle.four {
  top: 80%;
  left: 75%;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.docs .resources .bg .circle.four span {
  color: #BF4D00;
}

.docs .resources .bg .circle.five {
  top: 5%;
  left: 85%;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.docs .resources .bg .circle.five span {
  color: #FF355B;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

footer {
  padding: 60px 0;
  background-color: transparent;
  text-align: center;
  line-height: 1.75;
}

footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  footer p {
    display: block;
    margin-bottom: 10px;
  }
}

footer i {
  width: 4px;
  height: 4px;
  background-color: #0C2D4E;
  border-radius: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 7px;
}

@media (max-width: 767px) {
  footer i {
    display: block;
    margin: auto;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

@media (max-width: 767px) {
  footer span {
    margin-top: 10px;
    display: block;
  }
}

footer span a {
  color: #FF355B;
  margin: 0;
}

footer span a:hover {
  color: #FF355B;
}

footer img {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 767px) {
  footer img {
    margin: 0 2px;
  }
}

footer a {
  margin-left: 5px;
}

@media (max-width: 767px) {
  footer a {
    margin-left: 2px;
  }
}
/*# sourceMappingURL=style.css.map */